[submodule "third-party/SDL"]
	path = third-party/SDL
	url = https://github.com/spurious/SDL-mirror.git
[submodule "third-party/stb"]
	path = third-party/stb
	url = https://github.com/nothings/stb
[submodule "third-party/span"]
	path = third-party/span
	url = git@github.com:tcbrindle/span.git
