[submodule "third-party/SDL"]
	path = third-party/SDL
	url = https://github.com/spurious/SDL-mirror.git
[submodule "third-party/stb"]
	path = third-party/stb
	url = https://github.com/nothings/stb
[submodule "third-party/span"]
	path = third-party/span
	url = git@github.com:tcbrindle/span.git
[submodule "third-party/glm"]
	path = third-party/glm
	url = git@github.com:g-truc/glm.git
[submodule "third-party/easyexif"]
	path = third-party/easyexif
	url = git@github.com:mayanklahiri/easyexif.git
[submodule "third-party/tinyfiledialogs"]
	path = third-party/tinyfiledialogs
	url = https://git.code.sf.net/p/tinyfiledialogs/code
[submodule "third-party/pugixml"]
	path = third-party/pugixml
	url = https://github.com/zeux/pugixml
